<footer class="bg-black py-10 px-4 md:px-8">
  <div class="container mx-auto">
    <div
      class="flex flex-col md:flex-row justify-around text-center md:text-left"
    >
      <!-- Section Entreprise -->
      <div class="mb-8 md:mb-0">
        <h3 class="text-white text-lg font-bold mb-4">Entreprise</h3>
        <ul>
          <li><a href="/legal" class="text-white">Conditions d'utilisation & Politique de confidentialité</a></li>
          <li><a href="/contact" class="text-white">Nous contacter</a></li>
        </ul>
      </div>

      <!-- Section Ressources -->
      <div class="mb-8 md:mb-0">
        <h3 class="text-white text-lg font-bold mb-4">Ressources</h3>
        <ul>
          <li><a href="/faq" class="text-white">FAQ</a></li>
        </ul>
      </div>

<!-- Section Réseaux Sociaux -->
<div class="mb-8 md:mb-0 text-center">
  <h3 class="text-white text-lg font-bold mb-4">InnovPower</h3>
  <ul class="flex justify-center space-x-4">
    <li>
      <a href="#" target="_blank" class="text-white">
        <img src="/icons/x.webp" alt="Logo X" class="w-8 h-8" />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/innovpower/" target="_blank" class="text-white">
        <img src="/icons/insta.webp" alt="Logo Instagram" class="w-8 h-8" />
      </a>
    </li>
  </ul>
</div>

      <!-- Section Logo -->
      <div class="text-white flex justify-center md:justify-start items-center">
        <a href="#" class="text-white">
          <img src="/img/favicon.webp" alt="Logo" class="w-auto h-32" />
        </a>
      </div>
    </div>
  </div>
</footer>
