<section id="portfolio" class="pt-40 pb-20 px-4 md:px-8 bg-white text-black">
  <div class="container mx-auto max-w-6xl">
    <h2 class="text-4xl font-bold mb-12 text-center">Nos Créations</h2>
    
    <div class="space-y-12"> <!-- Ajoute de l'espace entre chaque projet -->
      
      <!-- Projet FlexFi -->
      <div class="bg-black text-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold mb-4">FlexFi</h3>
        <div class="rounded-lg overflow-hidden">
          <iframe src="https://www.flex-fi.io/" class="w-full h-96 rounded-lg border-none"></iframe>
        </div>
        <p class="mt-4">FlexFi est une solution innovante et pionnière de paiement en plusieurs fois basée sur la blockchain...</p>
        <div class="flex space-x-4 mt-4">
          <a href="https://www.flex-fi.io/" target="_blank"><img src="/icons/site.webp" alt="Site Web" class="w-8 h-8" /></a>
          <a href="https://x.com/FlexFi_" target="_blank"><img src="/icons/x.webp" alt="X" class="w-8 h-8" /></a>
        </div>
      </div>
      
      <!-- Projet Mon Comptoir Secret -->
      <div class="bg-black text-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold mb-4">Mon Comptoir Secret</h3>
        <div class="rounded-lg overflow-hidden">
          <iframe src="https://moncomptoirsecret.com/" class="w-full bg-white h-96 rounded-lg border-none"></iframe>
        </div>
        <p class="mt-4">Mon Comptoir Secret est un institut de beauté basé à la Riviera des Alpes...</p>
        <div class="flex space-x-4 mt-4">
          <a href="https://moncomptoirsecret.com/" target="_blank"><img src="/icons/site.webp" alt="Site Web" class="w-8 h-8" /></a>
          <a href="https://www.instagram.com/moncomptoirsecret/" target="_blank"><img src="/icons/insta.webp" alt="Instagram" class="w-8 h-8" /></a>
        </div>
      </div>
      
      <!-- Projet ASAP -->
      <div class="bg-black text-white rounded-lg shadow-lg p-6">
        <h3 class="text-2xl font-semibold mb-4">Alpes Solutions Auto Pro</h3>
        <div class="rounded-lg overflow-hidden">
          <iframe src="https://alpessolutionsautopro.com/" class="w-full h-96 rounded-lg border-none"></iframe>
        </div>
        <p class="mt-4">ASAP est une boutique spécialisée dans la solution automobile mise en avant avec un site vitrine simple et moderne.</p>
        <div class="flex space-x-4 mt-4">
          <a href="https://alpessolutionsautopro.com/" target="_blank"><img src="/icons/site.webp" alt="Site Web" class="w-8 h-8" /></a>
        </div>
      </div>

    </div>
  </div>
</section>
