<section id="portfolio" class="pt-40 pb-20 px-4 md:px-8 bg-white text-black">
  <div class="container mx-auto max-w-6xl">
    <h2 class="text-4xl font-bold mb-12 text-center">Nos Projets</h2>
    
    <!-- Projet FlexFi -->
    <div class="mb-12 p-6 bg-black text-white rounded-lg shadow-lg">
      <div class="flex flex-col md:flex-row items-center">
        <img src="/img/flexfi.webp" alt="Logo FlexFi" class="w-auto h-24 mb-4 md:mb-0 md:mr-6">
        <div>
          <h3 class="text-2xl font-semibold mb-2">FlexFi</h3>
          <p class="mb-4">FlexFi est une solution innovante et pionnière de paiement en plusieurs fois basée sur la blockchain, permettant des transactions sécurisées via des smart contracts sur la Blockchain Solana. Ce projet a été présenté lors du hackathon Colosseum Radar, où il a suscité un fort intérêt pour ses fonctionnalités uniques et son potentiel à transformer l'expérience de paiement dans l'écosystème décentralisé.</p>
          <div class="flex flex-wrap gap-4">
            <img src="/icons/nextjs.webp" alt="NextJS" class="w-8 h-8" />
            <img src="/icons/ts.webp" alt="TypeScript" class="w-8 h-8" />
            <img src="/icons/nodejs.webp" alt="NodeJS" class="w-8 h-8" />
            <img src="/icons/tailwind.webp" alt="TailwindCSS" class="w-8 h-8" />
            <img src="/icons/js.webp" alt="JavaScript" class="w-8 h-8" />
            <img src="/icons/html.webp" alt="HTML" class="w-8 h-8" />
            <img src="/icons/css.webp" alt="CSS" class="w-8 h-8" />
            <img src="/icons/git.webp" alt="GitHub" class="w-8 h-8" />
            <img src="/icons/anchor.webp" alt="Anchor" class="w-8 h-8" />
            <img src="/icons/rust.webp" alt="Rust" class="w-8 h-8" />
            <img src="/icons/solana.webp" alt="Solana Dev Tools" class="w-8 h-8" />
          </div>
          <div class="mt-4 flex space-x-4">
            <a href="https://www.flex-fi.io/" target="_blank">
              <img src="/icons/site.webp" alt="Site Web" class="w-6 h-6" />
            </a>
            <a href="https://x.com/FlexFi_" target="_blank">
              <img src="/icons/x.webp" alt="X" class="w-6 h-6" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Projet Mon Comptoir Secret -->
    <div class="mb-12 p-6 bg-black text-white rounded-lg shadow-lg">
      <div class="flex flex-col md:flex-row items-center">
        <img src="/img/MCS.webp" alt="Logo Mon Comptoir Secret" class="w-auto h-24 mb-4 md:mb-0 md:mr-6">
        <div>
          <h3 class="text-2xl font-semibold mb-2">Mon Comptoir Secret</h3>
          <p class="mb-4">Mon Comptoir Secret est un institut de beauté basé à la Riviera des Alpes, avec un design moderne et une interface conviviale. La gérante et InnovPower travaillent actuellement sur l'ajout d'un e-shop.</p>
          <div class="flex flex-wrap gap-4">
            <img src="/icons/astro.webp" alt="Astro" class="w-8 h-8" />
            <img src="/icons/react.webp" alt="React" class="w-8 h-8" />
            <img src="/icons/ts.webp" alt="TypeScript" class="w-8 h-8" />
            <img src="/icons/nodejs.webp" alt="NodeJS" class="w-8 h-8" />
            <img src="/icons/tailwind.webp" alt="TailwindCSS" class="w-8 h-8" />
            <img src="/icons/js.webp" alt="JavaScript" class="w-8 h-8" />
            <img src="/icons/html.webp" alt="HTML" class="w-8 h-8" />
            <img src="/icons/css.webp" alt="CSS" class="w-8 h-8" />
            <img src="/icons/git.webp" alt="GitHub" class="w-8 h-8" />
          </div>
          <div class="mt-4 flex space-x-4">
            <a href="https://moncomptoirsecret.com/" target="_blank">
              <img src="/icons/site.webp" alt="Site Web" class="w-6 h-6" />
            </a>
            <a href="https://www.instagram.com/moncomptoirsecret/" target="_blank">
              <img src="/icons/insta.webp" alt="Instagram" class="w-6 h-6" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Projet ASAP -->
    <div class="mb-12 p-6 bg-black text-white rounded-lg shadow-lg">
      <div class="flex flex-col md:flex-row items-center">
        <img src="/img/ASAP.webp" alt="Logo ASAP" class="w-auto h-24 mb-4 md:mb-0 md:mr-6">
        <div>
          <h3 class="text-2xl font-semibold mb-2">Alpes Solutions Auto Pro</h3>
          <p class="mb-4">ASAP est une boutique spécialisée dans la solution automobile mise en avant avec un site vitrine simple et moderne.</p>
          <div class="flex flex-wrap gap-4">
            <img src="/icons/astro.webp" alt="Astro" class="w-8 h-8" />
            <img src="/icons/react.webp" alt="React" class="w-8 h-8" />
            <img src="/icons/ts.webp" alt="TypeScript" class="w-8 h-8" />
            <img src="/icons/tailwind.webp" alt="TailwindCSS" class="w-8 h-8" />
            <img src="/icons/js.webp" alt="JavaScript" class="w-8 h-8" />
            <img src="/icons/html.webp" alt="HTML" class="w-8 h-8" />
            <img src="/icons/css.webp" alt="CSS" class="w-8 h-8" />
            <img src="/icons/git.webp" alt="GitHub" class="w-8 h-8" />
          </div>
          <div class="mt-4">
            <a href="https://alpessolutionsautopro.com/" target="_blank">
              <img src="/icons/site.webp" alt="Site Web" class="w-6 h-6" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
