<section class="pt-52 py-20 px-8 bg-white text-black">
    <div class="container mx-auto max-w-4xl">
      <a href="/services" class="inline-block mb-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
        </svg>
        Retour
      </a>
      <h1 class="text-4xl font-bold mb-8">Création de Sites Web</h1>
      <p class="text-lg font-light mb-8">
        Un site web est souvent le premier point de contact avec vos clients. InnovPower se spécialise dans la création de sites modernes, responsives et optimisés pour le SEO afin d'améliorer votre présence en ligne.
      </p>
  
      <!-- Avantages de notre service de création de sites -->
      <h2 class="text-3xl font-semibold mb-4">Pourquoi notre création de sites est différente ?</h2>
      <ul class="list-disc list-inside text-lg mb-8">
        <li>Designs sur mesure alignés avec votre image de marque</li>
        <li>Performances optimisées pour un chargement rapide</li>
        <li>SEO intégré pour un meilleur classement dans les moteurs de recherche</li>
      </ul>
  
      <!-- Notre Approche -->
      <h2 class="text-3xl font-semibold mb-4">Notre Approche</h2>
      <p class="text-lg font-light mb-8">
        Nous analysons vos besoins, vos objectifs et votre public cible pour créer un site web qui vous ressemble. Chaque site est construit en utilisant les meilleures pratiques de l'industrie pour garantir la satisfaction client.
      </p>
  
      <!-- Technologies Utilisées -->
      <h2 class="text-3xl font-semibold mb-4">Technologies Utilisées</h2>
      <div class="flex flex-wrap gap-4">
        <img src="/icons/react.webp" alt="React" class="w-8 h-8" />
        <img src="/icons/nextjs.webp" alt="Next.js" class="w-8 h-8" />
        <img src="/icons/tailwind.webp" alt="TailwindCSS" class="w-8 h-8" />
        <img src="/icons/css.webp" alt="Css" class="w-8 h-8" />
        <img src="/icons/html.webp" alt="Html" class="w-8 h-8" />
        <img src="/icons/js.webp" alt="JS" class="w-8 h-8" />
        <img src="/icons/shadcn.webp" alt="Shadcn" class="w-8 h-8" />
        <img src="/icons/astro.webp" alt="Astro.js" class="w-8 h-8" />
        <img src="/icons/nodejs.webp" alt="NodeJs" class="w-8 h-8" />
        <img src="/icons/ts.webp" alt="TypeScript" class="w-8 h-8" />
      </div>
    </div>
  </section>
  